parameters:
    ignoreErrors:
        -
            message: "#^Cannot call method integerNode() on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface|null.$#"
            count: 1
            path: src/DependencyInjection/Configuration.php
