name: Release
on:
  workflow_run:
    workflows: [ci]
    branches: [main]

jobs:
  release:
    name: Release version
    runs-on: ubuntu-latest
    environment: main
    steps:
      - uses: jblab/.github/.github/actions/release@main
        with:
          app-id: ${{ vars.GHA_BOT_APP_ID }}
          repository: ${{ github.repository }}
          app-private-key: ${{ secrets.GHA_BOT_PRIVATE_KEY }}
